* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

/* ------- country-info ------ */
.info__header {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.info__img {
  width: 50px;
}
.info__list {
  display: flex;
  flex-direction: column;
}
.info__item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.list__languages {
  display: flex;
  gap: 0.5em;
}

/* ------ country-list ------- */

.country-list__item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em 0;
}
.country-list__flag {
  width: 25px;
}
